@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700);

body {
  background: #2a3145;
  font-family: Roboto;
  color: #fff;
  margin: 0;
}

.page-container {
  display: flex;
  align-items: center;
  height: 100vh;
}

.auth-container {
  width: 600px;
  margin: 0 auto;
}

.auth-container h1 {
  font-size: 48px;
  text-align: center;
  font-weight: 700;
  color: #f2f4fa;
  margin-top: 12px;
}

.auth-container p { 
  color: #f3f3ff;
  font-size: 18px;
}

.auth-code {
  font-size: 24px;
  font-family: monospace;
  background: #272c3b;
  padding: 24px;
  border-radius: 8px;
  color: #d8dae3;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#auth-code {
  all: inherit;
  padding: 0;
}

#auth-code-copy {
  cursor: pointer;
  user-select: none;
}

#canvas {
  margin: 8px auto;
  background: #272c3b;
  border-radius: 8px;
  display: block;
}

#server-header {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}
